<div class="span-4">
  <p></p>
  <p><%= link_to "All Live Deliveries", delivery_orders_path %></p>
  <p><%= link_to "Overdue Deliveries", overdue_delivery_orders_path %></p>
</div>
<hr/>
<div class="span-4">
  <p></p>
  <p><%= link_to "Home", root_path %>	</p>
  <p><%= link_to "Back", :back %> </p>
</div>