<div class="deliveryOrdersTable">
  <table>
    <tr>
      <td class="table_heading">
        <input type="checkbox" class="selectAll"/>
      </td>
      <td class="table_heading">Order Type</td>
      <td class="table_heading">Placed</td>
      <td class="table_heading">Title Name</td>
      <td class="table_heading">Ready</td>
      <td class="table_heading">Scheduled At</td>
      <td class="table_heading">Notes</td>
    </tr>
    <%= render :partial => "delivery_order", :collection => order_list.orders %>
  </table>
</div>