.bundle
db/*.sqlite3*
log/*
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
solr/data/development/*
Gemfile
Gemfile.lock
config/database.yml
app/views/devise/sessions/new.html.erb
/.idea
/bin
/db/schema.rb
