<div style="float: right"><a class="hide_notes_button" href="#">X</a></div>
<div class="addNotes" data-delivery-order="<%= @delivery_order.id %>" data-membership-no="<%= @delivery_order.membership_no %>">
  <textarea class="notesTextArea"></textarea>
  <button class="add_notes_button">Add Comment</button>
</div>
<table class="delivery_notes">
  <tr>
    <td class="heading">Time</td>
    <td class="heading">Comment</td>
  </tr>
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.created_at.strftime("%b %d %Y") %></td>
      <td><%= note.content %></td>
    </tr>
  <% end %>
</table>