<table class="delivery_notes">
  <tr>
    <td>Time</td>
    <td>Comment</td>
  </tr>
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.created_at.strftime("%b %d %Y") %></td>
      <td><%= note.content %></td>
    </tr>
  <% end %>
</table>