<div class="scheduleTable">
  <table>
    <tr>
      <td></td>
      <% @delivery_schedule_presenter.dates.each do |date| %>
        <td class="table_heading center"><%= date.strftime("%a %b %d") %></td>
      <% end %>
    </tr>
    <% @delivery_schedule_presenter.slots.each do |slot| %>
      <tr>
        <td class="table_heading"><%= slot.name %></td>
        <% @delivery_schedule_presenter.dates.each do |date| %>
          <td class="center">
            <a href="<%= schedule_by_date_and_slot_path(date, slot) %>">
              <%= @delivery_schedule_presenter.members_count(date, slot) %>
            </a>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>