<input class="datePicker"/>
<%= collection_select :deliverySlot, nil, @delivery_slots, :id, :name, {:prompt => true}, :class => "slotSelect", :id => nil %>
<button class="submitButton">Submit</button>
<a class="cancelSchedule" target="#">X</a>